doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  title= title
  meta(http-equiv='Content-Style-Type', content='text/css')
  meta(http-equiv='Content-Script-Type', content='text/javascript')
  link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/pure-min.css', integrity='sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/hack-font/build/web/hack.css')
  script(src=RURL('ansi_up.js', 'js'))
  base(href=baseUri)
  style.
    body,a,p,div,span,h1,h2,h3,h4,h5,h6 {
       font-family: Hack, monospace;
       font-size: 11pt;
       color: #ccc;
       line-height: 1.5;
       margin: 0;
    }
    body {
       background-color: #222;
       padding: 1em;
    }
    h1,h2,h3,h4,h5,h6 {
      font-weight: bold;
      color: #fff;
    }
    a { color: #ccc; text-decoration: none }
    a:hover { color: #fff }
    tr.hoverable:hover td { background-color: #666}
    th,td { padding:0 1em }
body(style='padding:0 1em')
  .content(style='max-width:960px;margin:0 auto')
    h1(style='text-align:center;margin:2em 0')= title
    .pure-g
      .pure-u-14-24
        table(style='width:100%')
          thead
            tr
              th(style='text-align:left') #{node.isRoot() ? '模块' : node.getName()} (#{count(subNodes)}个)
              th(style='text-align:left') 最近更新
            tr
              td(colspan=2,style='padding:0')
                hr
          tbody
            if !node.isRoot()
              tr.hoverable
                td(colspan=2)
                  a(href='..')
                    i.fa.fa-reply
                    | &nbsp;回到上级目录
            for subNode in subNodes
              tr.hoverable
                td
                  a(href=subNode.path)
                    if in_array('{DAV:}collection', subNode.type)
                      i.fa.fa-folder
                    else
                      i.fa.fa-file-archive-o
                    &nbsp;
                    = subNode.name
                td
                  div(style='color:#ff0')= subNode.mtime
      .pure-u-10-24
        div(style='margin:0 0 0 1em;padding:0 1em; border-left:1px solid #ccc')
          for log in logs
            p(style='color:#ff0')= log.timestamp
            p(style='color:#ccc')= log.message
            br

    div(style='text-align:center;margin:2em 0')
      div
        h2(style='color:#fff') Genee &copy; 2017

